

 <app-navbar></app-navbar>
 <div class="row">
 <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h4>New Order > First Unit </h4>      
     <p>Order Complete</p> 
  
  </div><br>

  <div class="row">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-sm-4 md-4 col-4 con">
         
    <h4>BACK</h4>
          
        </div>
        <div class="col-sm-4 md-4 col-4 con">
          <h4>Subtotal :</h4>
        </div>
       
      
      </div>
    </div>

  </div>
</div>
</div>
<div class="container">
    
   
  
</div>
<div class="row">
    <button type="button" class="btn btn1 mx-auto">BACK HOME</button>
   
  </div>
  <div class="row">
      <button type="button" class="btn btn3 mx-auto">PLACE NEW ORDER</button>
     
    </div>

    

