
 
 <app-navbar></app-navbar>

 <div class="row">
 <div class="jumbotron jumbotron-fluid">
   <img src="assets/image/delivery.png" class="float-right">
    <div class="container text-center">
      <h4>New Order  </h4>   <br>   
     <p>Number Of Units</p> 
  
  </div><br>

  <div class="row">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-sm-4 md-4 col-4 con">
         
    <h4>BACK</h4>
          
        </div>
        <div class="col-sm-4 md-4 col-4 con">
          <h4>Subtotal :</h4>
        </div>
        <div class="col-sm-4 md-4 col-4 con">
          <h4>NEXT</h4>
        </div>
      
      </div>
    </div>

  </div>
</div>
</div>
<div class="row">
  <h1>How many units are we serving at this property?

    </h1>
  </div>
    <div class="col-md-12 text-center">
    
  
        <br>
        <br>
         <a  [disabled] = "buttonstatus" (click)="removeItem()"><i class="fa fa-caret-up incbtn"></i></a> 
      
         <div > {{amount}}</div> 
         <a (click) = "addItem()"><i class="fa fa-caret-down incbtn"></i></a>   
</div>


<div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-angle-up mx-auto"></i>
        <p class="slidepara">Slide to View price</p>
    
      </div>
</div>
    

