
<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark grey scrolling-navbar ie-nav" >
           
    <!-- Navbar brand -->


    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Price Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Place Order</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>My Orders</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>My Account</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link waves-light" mdbWavesEffect>Deliveries</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link waves-light" mdbWavesEffect>Profile</a>
                            </li>

           

        </ul>
        <!-- Links -->


    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
            