<div class="row">
<div class="container-fluid text-center" id="headerback">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="/assets/image/logo1.jpg" class="rounded-circle con"><br><br>
          <h1>AGENT<span>SYNC</span><small>TM</small></h1>
  
          <p>by Sounder Works</p>
        </div>
        </div><br>
       <div class="row">
          <div class="col-md-12 offset-md-3">
        <form class="  ">
               
        
           <div class="form-group">
          
               <input type="text" class="form-control text-center  numinput" id="usr" placeholder="Username">
               <input type="password" class="form-control text-center  numinput" id="pwd" placeholder="Password">
               </div>
               <div class="col-md-6 ">
                 <button type="button" class="btn btn1 mx-auto">SIGN IN</button>
             
                  
                 </div>
               
               </form>
               </div>
       </div><br>
              <div class="row text-center">
                
                  <div class="col-md-12 ">
                    
      <button type="button" class="btn btn2"><a routerLink="/register">REGISTER ME</a></button> 
      <button type="button" class="btn btn2"><a routerLink="/forgetinfo">FORGET INFO</a></button>
                    
                  </div>
                  
               
               </div>
        </div>
      </div>