
<app-navbar></app-navbar>
<div class="row">
<div class="jumbotron jumbotron-fluid">
   <div class="container text-center">
     <h4>New Order>First Order  </h4>      
    <p>Product</p> 
 
 </div><br>

 <div class="row">
   <div class="container-fluid">
     <div class="row text-center">
       <div class="col-sm-4 md-4 col-4 con">
        
   <h4>BACK</h4>
         
       </div>
       <div class="col-sm-4 md-4 col-4 con">
         <h4>Subtotal :</h4>
       </div>
       <div class="col-sm-4 md-4 col-4 con">
         <h4>NEXT</h4>
       </div>
     
     </div>
   </div>

 </div>
</div>
</div>
<div class="row">
 <h3>What products are needed at this unit?</h3> 
 <br>
<h3>*Please select all that apply.</h3>
   
</div>
<div class="row test">
    <div class="col-md-6 mx-auto">
        <ul>
          <li *ngFor="let data of product">
            <button type="button" class="btn btn1">{{data.name}}</button>
          </li>
        </ul>
    </div>
  </div>
  
  <div class="row">
      <div class="col-md-6 offset-md-6">
          <i class="fa fa-angle-up mx-auto"></i>
          <p >Slide to view prices</p>
        </div>
  </div>
  
  
   

