
   <app-navbar></app-navbar>
   <div class="row">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h4> Place New Order</h4>  
        
       <p>Orders are itemized by property, per unit.

      </p> 
      <i class="fa fa-arrow-left float-left"></i>
    </div>
  </div>
</div>
<div class="row mx-auto">
  <h1>What type of property is this?</h1>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-sm-6 md-6 col-6 con">
          <a routerLink="/address"><img src="assets/image/pic2.png" class="img-circle"alt="Cinque Terre" > </a>

        
      </div>
      <div class="col-sm-6 md-6 col-6 con">
          <a routerLink="/address"><img src="assets/image/pic3.png"  class="img-circle"alt="Cinque Terre" > </a>
     
      </div>
      <div class="col-sm-6 md-6 col-6 con">
          <a routerLink="/address"><img src="assets/image/pic4.png"  class="img-circle" border="7"alt="Cinque Terre" > </a>
        
      </div>
      <div class="col-sm-6 md-6 col-6 con">
          <a routerLink="/address"><img src="assets/image/pic.png"   class="img-circle"alt="Cinque Terre" > </a> 
        
      </div>
    </div>
  </div>

</div>
<div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-angle-up mx-auto"></i>
        <p>Slide to view prices</p>
    
      </div>
</div>
  
 
       