

h1{
    font-size: 20px;
}
.fa{
    font-size: 2rem;
    margin-top: -4rem;
    
}
@media screen and (max-width: 780px) {
    img{
        width:43vw;
    }
    .fa{
         
       font-size: 1rem;
        margin-top: -1rem;
      
        }
       
}


