h4
{ 
	color: #434343;
    margin-bottom: 3rem;
    text-align:center;
    line-height:100%;
    
 
}
#headerback{

    background-image: url('/assets/image/background.jpg');
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    margin: auto;
    background-size: cover;
}

.btn
	{
		color: white;
		background-color:#F07C49;
        border-radius:30px;
         width: 21rem;
        padding: 10px 20px 10px 20px;
		
    }
    .fa{
        
        font-size: 2rem;
    }
.reg{
    margin-top: 5rem;
}
.numinput{
    width:44vw;
    line-height: 3.5rem;
    border: 2px solid #434343;
}
@media screen and (max-width: 780px) {
    #headerback{

        background-image: url('/assets/image/mobileback.png');
        background-repeat: no-repeat;
        width:100vw;
        height:100vh;
        margin: auto;
        background-size: cover;
    }
    .numinput{
        width:86vw;
        line-height: 3rem;
    }
    .reg{
        margin-top: 4rem;
    }
    .fa{
        
        font-size: 1rem;
        margin-top:1rem;
    }
    .btn
	{
         width: 19rem;
  
		
    }
    }