
a {
    color: #000000;
}
a:hover {
    color:#F07C49;
}

img{
    width:20vw;
}

h1{
    font-size: 20px;
}
.roundeee{
    border:2px solid#707070;
    border-radius: 50%;
}
.circle-text {
    display: table-cell;
    height: 200px; 
    width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;

    border:2px solid #707070;
    color: #000;
    
    }
    .bad{
        border-radius: 50%;
        background-color: #F07C49;
        font-size: 2rem;
        margin-right: -8rem;
    }
    .circle-text img
    {
      width:100px;
      height:100px;
      
      
    }
@media screen and (max-width: 780px) {
    img{
        width:40vw;
    }
}

