<div class="row">

  <div class="container-fluid text-center" id="headerback">
      <i class="fa fa-arrow-left float-left"></i>
    <form  class="col-md-12 mx-auto mt-5 p-3 reg">
          <h4>Forgot your login info?</h4>
          <p>An email will be sent to the registered address.</p> 
      
      <input type="text" name="" placeholder="EmailAddress" id="test" class="numinput text-center"><br><br>

      <button type="button" class="btn btn1 mx-auto" >RECOVER LOGIN</button>
      
    </form>
    


</div>
</div>